{% extends 'base.html' %}

{% block content %}
    <h1>What is Omni Sight?</h1>
    <hr />
    <p>Omni Sight is for Traders and investors interested in trading crypto-currencies. Omni Sight allows users to add and track their favorite crypto-currencies through an interactive user dashboard. The user dashboard will display your favorite Currencies and allow to you to set custom price alerts and more...</p>
    <hr />
    <style>
        p {
            font-size: 22px;
        }
    </style>
{% endblock %}