{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Omni Sight</h1>
    <hr/>
    {% for curr in currencies %}
        <p>Symbol: {{ curr.symbol }}</p>
        <p>Price: ${{ curr.price}}</p>
        {% if user.is_authenticated %} 
        <form action="{%url 'add_to_favorites'%}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{curr.symbol}}" name='symbol'>
            <input type="hidden" value="{{curr.price}}" name='alert_price'>            
            <button class="btn">Add to Favorites</button>     
        </form>
        {% endif %}
        <hr/>
    {% endfor %}
{% endblock %}